.catalog-main__telephone {
  margin-bottom: -20px;
}

.catalog-main__title {
  margin: 3px 0 28px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.catalog-main__filter {
  margin-bottom: 14px;
}

.catalog-main__catalog {
  margin-bottom: 72px;
}

.catalog-main__pagination {
  padding-bottom: 30px;
  border-bottom: 1px solid $background-opacity;
}
