.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation__item {
  position: relative;
  padding: 7px 14px;

  &:hover,
  &:focus,
  &:focus-within {
    color: $text;
    background-color: $background-light;
    border-radius: 16px;

    .main-navigation__submenu {
      transform: scale(1);
    }

    .main-navigation__link {
      outline: none;
      box-shadow: none;
    }
  }
}

.main-navigation__item--current {
  color: $text-light;
  background-color: $menu-active;
  border-radius: 16px;

  .main-navigation__link {
    box-shadow: none;
  }
}

.main-navigation__link {
  @include textUnderline($background-opacity);

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
