.page-main__slider {
  margin-bottom: 41px;
}

.page-main__promo {
  margin-bottom: 31px;
}

.page-main__catalog {
  margin-bottom: 28px;
}

.page-main__about {
  margin-bottom: 40px;
}

.page-main__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 39px;
}

.page-main__contacts {
  overflow: hidden;
}
