.popup-menu {
  visibility: hidden;
  position: absolute;
  top: 115%;

  &::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    width: 100%;
    height: 10px;
  }
}

.popup-menu--left {
  left: -6px;
}

.popup-menu--right {
  right: -2px;
}
