.search {
  position: relative;

  &:hover,
  &:focus {
    .search__wrapper {
      opacity: 1;
      z-index: 1;
    }
  }
}

.search:focus-within .search__wrapper {
  opacity: 1;
  z-index: 1;
}

.search__icon {
  fill: $text-light;
}

.search__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  background-color: $background-opacity;
  border-radius: 50%;

  &:hover {
    background-color: $background-light;
    cursor: pointer;

    .search__icon {
      fill: $icon-dark;
    }
  }
}

.search__wrapper {
  display: block;
  width: 341px;
  height: 84px;
  padding: 20px 15px;
  background-color: $background-light;
  border-radius: 5px;
  cursor: auto;
}
