.slide {
  position: relative;
  padding-top: 274px;
}

.slide__box {
  position: absolute;
  top: -116px;
  z-index: -1;
  width: 100%;
}

.slide__image {
  opacity: 0;
}

.slide__image--1 {
  background: $background-green url("../img/slide-1.png") no-repeat center top;
}

.slide__image--2 {
  background: $background-blue url("../img/slide-2.png") no-repeat center top;
}

.slide__image--3 {
  background: $background-red url("../img/slide-3.png") no-repeat center top;
}

.slide__title {
  margin: 0 0 32px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

.slide__link {
  margin: 0 auto;
  width: 280px;
}
