/* Colors */

$text: #333333;
$text-light: #ffffff;
$text-gray: #5a5a5a;
$text-placeholder: #999999;

$gradient-top: #f26843;
$gradient-bottom: #e74a35;
$border-gradient-red: #fe9e90;
$border-gradient-blue: #92cdff;

$btn-shadow: rgba(172, 16, 0, 0.64);
$btn-shadow-hover: #ac1000;
$btn-shadow-active: #942718;

$background-green: #849d8f;
$background-blue: #8996a6;
$background-red: #9d8b84;
$background-light: #f8f7f4;
$background-opacity: rgba(255, 255, 255, 0.2);

$raspberry-bg: #9f5367;
$chocolate-bg: #4c352b;
$wafer-bg: #f0e6cf;

$icon-dark: #000000;

$link-dark: #e84d37;
$link-light: #f9ac9f;

$border: #d3d3d2;
$border-hover: #c7c6c5;
$border-active: #8fbdec;

$menu-hover: #fbded7;
$menu-press: #f6b5a5;
$menu-active: #d07058;

